@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0e9e0;
  overflow-x: hidden;
}

/* styles/globals.css */
/* styles/globals.css */

.relative {
  position: relative;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.transition-transform {
  transition: transform 0.6s ease-in-out;
}

.bg-white {
  background-color: #ffffff;
}

.bg-quaternary {
  background-color: #2d5262;
}

.text-quaternary {
  color: #2d5262;
}

.text-primary {
  color: #f0e9e0;
}

.border-quaternary {
  border-color: #2d5262;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

/* Estilos personalizados para os bullets de paginação */
.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ae8f72; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  border-radius: 50%; /* Forma circular */
  margin: 0 5px; /* Espaçamento entre bullets */
  font-size: 1rem; /* Tamanho da fonte */
  transition: transform 0.3s; /* Animação de transição */
  z-index: 99999;
}

.swiper-pagination-bullet:hover {
  transform: scale(1.2); /* Aumentar tamanho ao passar o mouse */
  background-color: #fff; /* Cor de fundo ao passar o mouse */
}

.custom-swiper .swiper-pagination {
  bottom: 20px; /* Ajuste a distância do fundo */
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important; /* Cor de fundo do bullet ativo */
}

/* Ajuste a cor da navegação do Swiper, se necessário */
.swiper-button-next,
.swiper-button-prev {
  color: #264653; /* Cor das setas de navegação */
}

.swiper-pagination {
  pointer-events: auto;
  z-index: 99999;
}
