@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "swiper/css";
@import "swiper/css/pagination";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0e9e0;
  overflow-x: hidden;
}

.relative {
  position: relative;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.transition-transform {
  transition: transform 0.6s ease-in-out;
}

.bg-white {
  background-color: #ffffff;
}

.bg-quaternary {
  background-color: #2d5262;
}

.text-quaternary {
  color: #2d5262;
}

.text-primary {
  color: #f0e9e0;
}

.border-quaternary {
  border-color: #2d5262;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
  color: #000; /* Cor dos botões de navegação */
  background: rgba(255, 255, 255, 0.8); /* Fundo dos botões de navegação */
  border-radius: 50%; /* Botões arredondados */
  padding: 10px;
  width: 40px;
  height: 40px;
  transition: background 0.3s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: rgba(255, 255, 255, 1); /* Fundo ao passar o mouse */
}

/* Estilizando a paginação */
.swiper-pagination-bullet {
  background: #de9790; /* Cor dos bullets da paginação */
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: #de9790; /* Cor dos bullets ativos */
  opacity: 1;
  scale: 2;
}

/* Personalizando o contêiner do Swiper */
.swiper-container {
  padding: 20px;
  background-color: #f0f0f0; /* Fundo do contêiner */
  border-radius: 20px; /* Borda arredondada */
}

/* Estilizando os slides */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.swiper-slide:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Estilizando os textos dentro dos slides */
.swiper-slide .slide-text {
  font-size: 1.2rem;
  color: #333;
}
